{% extends 'layout.html' %}
{% include 'index.html' %}
{% load static %}
{% load common_tags %}
{% block content %}
    <div id="homepage">
        <div id="cursor1" class="cursor"></div>
        <div id="aboutme"></div>
        <section data-parallax='{"y": 0.3, "variable": true}' data-scroll-section class="header-home">
            <div class="container">
                <div class="row align-items-center d-flex">
                    <div class="col col-6">
                        <div id="smpoint" data-parallax='{"y":0.1, "r":0.09}' data-scroll data-scroll-speed="1"
                             class=" smpoint"></div>
                        <div id="mdpoint" data-parallax='{"y":0.3, "r":0.09}' data-scroll data-scroll-speed="2"
                             class=" mdpoint"></div>
                        <div id="lgpoint" data-parallax='{"y":0.3, "r":0.09}' class="lgpoint"></div>
                        <h2>Welcome to my portfolio</h2><br/>
                            <h1 data-scroll data-scroll-speed="3" class="green-text">
                        <span>Hi! Je suis Adélaïde</span><br/>
                            <span>Développeuse web</span>
                        </h1>
                        <p data-scroll data-scroll-speed="1" class="text">Je suis une personne dynamique et créative qui aime les
                            défis.
                            Le développement informatique ainsi que la recherche de la
                            meilleure solution à mettre en place afin de garantir la meilleure
                            expérience utilisateur est un problème sur lequel j’aime réfléchir.
                            Je souhaite également élargir mes compétences et
                            je n’ai donc pas peur d’en découvrir de nouvelles.</p>
                        <button class="btncontact mt-4" onclick="window.location.href='{% url 'homepage' %}#contact'"
                                class="data-scroll btn btn-light-white">Contactez-moi !
                        </button>
                    </div>
                    <div class="col offset-1 col-5 cardpicture">
                        <img class="picturehome mt-5" src="{% static 'images/moi-min.jpg' %}"/>
                    </div>
                </div>
            </div>
        </section>
        <div id="history"></div>
        <section data-scroll-section class="history">
            <div id="smpoint" data-parallax='{"y":0.1, "r":0.09}' data-scroll data-scroll-speed="1"
                 class=" smpoint"></div>
            <div id="mdpoint" data-parallax='{"y":0.3, "r":0.09}' data-scroll data-scroll-speed="2"
                 class=" mdpoint"></div>
            <div class="testcard">
                <div class="container ms-0 mt-5 pt-5">
                    <div class="blocHorizontal">
                        {% for experience in experience %}
                            <div class=" col-md-12 col-12">
                                <div class="row spacecard">
                                    <div class=" col-md-12 col-12">
                                        <h2 class="keydate">{{ experience.date_published }}</h2>
                                    </div>
                                    <div class=" col-md-12 col-12 slide historycard mt-5 mb-5">
                                        <div class="row">
                                            <div class="col-md-7 col-7 mt-1">
                                                <div class="row">
                                                    <div class="col-md-9 col-9 mt-1">
                                                        <h2>
                                                            {{ experience.title }}
                                                        </h2>
                                                        <p class="mt-4 text-yellow text">
                                                            {{ experience.date_started }}
                                                            - {{ experience.date_ended }}
                                                            <br/>
                                                            {{ experience.location }}
                                                        </p>
                                                    </div>
                                                    <div class="col-auto mt-1">
                                                        <img class="logo" src="{{ experience.logo.url }}"/>
                                                    </div>
                                                    <div class="col-md-12 col-12 mt-1">
                                                        <p class="text">
                                                            {{ experience.content }}
                                                        </p>
                                                        {% if experience.is_active %}
                                                            <button class="btncontact mt-4">
                                                                Voir les projets
                                                            </button>
                                                        {% endif %}

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5 col-5 text-end">
                                                {% if experience.image %}
                                                    <img class="w-100 detailpicture"
                                                         src="{{ experience.image.url }}"/>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <div id="skills"></div>
        <section data-scroll-section class="skills">
            <div class="container mt-3">
                <div data-parallax='{"y":0.1, "r":0.09}' data-scroll data-scroll-speed="1" class=" smpoint"></div>
                <div data-parallax='{"y":0.1, "r":0.09}' data-scroll data-scroll-speed="2" class=" lgpoint"></div>
                <h1 class="text-center">Skills</h1>
                <div class="row position-relative mt-5 mb-5">
                    <div class="col-md-6 col-6 webskill">
                        <h2>
                            Informatique
                        </h2>
                        <div class="row logoweb">
                            {% for skill in skill %}
                                {% if skill.category == 'IN' %}
                                    <div class="col-3 mt-3">
                                        <img class="w-75 logo" src="{{ skill.logo.url }}"/>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6 col-6 skillcard">
                        <div class="row">
                            <div class="col-md-12 col-12 theoryskill ms-2">
                                <h2>
                                    Théorique
                                </h2>
                                <ul class="list-group list-group-flush">
                                    <div class="row">
                                        {% for skill in skill %}
                                            {% if skill.category == 'TH' %}
                                                <div class="col-md-6 col-6">
                                                    <li class="list-group-item text">{{ skill.title }}</li>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </ul>
                            </div>
                            <div class="col-md-12 col-12 softskill mt-2 ms-2">
                                <h2>
                                    Soft-skills
                                </h2>
                                <ul class="list-group list-group-flush">
                                    <div class="row">
                                        {% for skill in skill %}
                                            {% if skill.category == 'ST' %}
                                                <div class="col-md-6 col-6">
                                                    <li class="list-group-item text">{{ skill.title }}</li>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <div id="project"></div>
        <section data-scroll-section class="project">
            <div id="mdpoint" data-parallax='{"y":0.3, "r":0.09}' data-scroll data-scroll-speed="2"
                 class="mdpoint"></div>
            <div id="mdpoint" data-parallax='{"y":0.3, "r":0.09}' data-scroll data-scroll-speed="2"
                 class=" lgpoint"></div>
            <h1 class="text-center pb-4">Projets</h1>
            <div class="container mt-3 mb-5">
                <div class="col-md-9 col-9 container-onglets">
                    <div id="onglets" data-anim="1" class="col-md-4 col-4 uniproject onglets text">
                        Universitaires
                    </div>
                    <div id="onglets" data-anim="2" class="col-md-4 col-4 onglets active internproject text">
                        Stage
                    </div>
                    <div id="onglets" data-anim="3" class="col-md-4 col-4 onglets alternanceproject text">
                        Alternance
                    </div>
                </div>
                <div data-anim="1" class="contenu mt-3">
                    <div class="row">
                        {% for project in project %}
                            {% if project.category == 'UN' %}
                                <div class="col-3 col-md-3">
                                    <div class="card">
                                        <div class="card__face card__face--front">
                                            <h2 class="text-center">
                                                {{ project.date }}
                                            </h2>
                                            <img class="detailpicture" src="{{ project.picture.url }}"/>
                                            <p class="mt-2 text-center text">
                                                {{ project.field }}<br/>
                                                {{ project.location }}
                                            </p>
                                        </div>
                                        <div class="mt-5 pt-5 card__face card__face--back text">{{ project.content }}</div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div data-anim="2" class=" col-md-12 contenu activeContenu mt-3">
                    <div class="row">
                        {% for project in project %}
                            {% if project.category == 'ST' %}
                                <div class="col-3 col-md-3">
                                    <div class="card">
                                        <div class="card__face card__face--front">
                                            <h2 class="text-center">
                                                {{ project.date }}
                                            </h2>
                                            <img class="detailpicture" src="{{ project.picture.url }}"/>
                                            <p class="mt-2 text-center text">
                                                {{ project.field }}<br/>
                                                {{ project.location }}
                                            </p>
                                        </div>
                                        <div class="mt-5 pt-5 card__face card__face--back text">{{ project.content }}</div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div data-anim="3" class="contenu mt-3">
                    <div class="row">
                        {% for project in project %}
                            {% if project.category == 'AL' %}
                                <div class="col-3 col-md-3">
                                    <div class="card">
                                        <div class="card__face card__face--front">
                                            <h2 class="text-center">
                                                {{ project.date }}
                                            </h2>
                                            <img class="detailpicture" src="{{ project.picture.url }}"/>
                                            <p class="mt-2 text-center text">
                                                {{ project.field }}<br/>
                                                {{ project.location }}
                                            </p>
                                        </div>
                                        <div class="mt-5 pt-5 card__face card__face--back text">{{ project.content }}</div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <div id="contact"></div>
        <section data-scroll-section class="contact">
            <div class="container mt-3">
                <div id="smpoint" data-parallax='{"y":0.1, "r":0.09}' data-scroll data-scroll-speed="1"
                     class=" smpoint"></div>
                <div id="mdpoint" data-parallax='{"y":0.3, "r":0.09}' data-scroll data-scroll-speed="2"
                     class=" mdpoint"></div>
                <div class="row mt-5 pb-5">
                    <div class="col-9">
                        <h1 class="pt-5 pb-4 text-start">Me contacter :</h1>
                        <form>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-6">
                                    <label class="pb-2" for="exampleFormControlTextarea1">
                                        <p class="text">Prénom :</p>
                                    </label>
                                    {{ contactform.firstname|addcss:'form-control' }}
                                </div>
                                <div class="col-6">
                                    <label class="pb-2" for="exampleFormControlTextarea1 text">
                                        <p class="text">Nom :</p>
                                    </label>
                                    {{ contactform.lastname|addcss:'form-control' }}
                                </div>
                                <div class="col-12">
                                    <label class="pt-2 pb-2" for="exampleFormControlTextarea1 text">
                                        <p class="text">Adresse email :</p>
                                    </label>
                                    {{ contactform.from_email|addcss:'form-control' }}
                                </div>
                                <div class="col-12 form-group">
                                    <label class="pt-2 pb-2" for="exampleFormControlTextarea1 text">
                                        <p class="text">Message :</p>
                                    </label>
                                    {{ contactform.message|addcss:'form-control' }}
                                </div>
                                <div class="form-actions mt-4">
                                    <button class="btncontact w-25 text" type="submit">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-3 contact-info">
                        <div class="row pictocontact">
                            <div class="col-12 align-items-center d-flex">
                                <img class="w-50  logo" src="{% static 'images/phone.png' %}"/></div>
                            <div class="col-12 text-center">
                                <p class="mt-2 text">
                                    06.65.10.98.10
                                </p>
                            </div>
                            <div class="col-12 align-items-center d-flex">
                                <img class="w-50 pictocontact logo" src="{% static 'images/email.png' %}"/>
                            </div>
                            <div class="col-12 text-center">
                                <p class="mt-2 text">
                                    a.pillois@gmail.com
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% comment %}<section>
            <div class="row mt-5 mb-5 ">
                <div class="paintproject col-3 mt-5">
                    <h2>
                        2019
                    </h2>
                    <img class="paintproject" src="{% static 'images/university.png' %}"/>
                    <p class="mt-2">
                        Agro écologie<br/>
                        UC Berkeley, California
                    </p>
                </div>
                <div class="paintproject col-3 mt-5">
                    <h2>
                        2021
                    </h2>
                    <img class="paintproject" src="{% static 'images/university.png' %}"/>
                    <p class="mt-2">
                        Informatique<br/>
                        IHU Liryc, Pessac
                    </p>
                </div>
                <div class="paintproject col-3 mt-5">
                    <h2>
                        2021
                    </h2>
                    <img class="paintproject" src="{% static 'images/university.png' %}"/>
                    <p class="mt-2">
                        Informatique<br/>
                        IHU Liryc, Pessac
                    </p>
                </div>
                <div class="paintproject col-3 mt-5">
                    <h2>
                        2021
                    </h2>
                    <img class="paintproject" src="{% static 'images/university.png' %}"/>
                    <p class="mt-2">
                        Informatique<br/>
                        IHU Liryc, Pessac
                    </p>
                </div>
            </div>
        </section>{% endcomment %}
    </div>
{% endblock %}

{% block javascript %}

    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}
