{% extends 'administration/layout.html' %}
{% load staticfiles %}
{% block content %}
<div class="container-fluid flex-grow-1 container-p-y">
    <h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
        <div>Prospects</div>
    </h4>
    <div class="card">
        <div class="card-datatable table-responsive">
            <table id="prospect-list" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Date de demande</th>
                    <th>Identité</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Souhaite être contacté</th>
                    <th>Métier</th>
                </tr>
                </thead>
                <tbody>
                {% for prospect in prospect_list %}
                <tr>
                    <td>{{ prospect.pk }}</td>
                    <td>{{ prospect.date_created|date:'d/m/Y' }}</td>
                    <td>{{ prospect.firstname }}  {{ prospect.lastname }}</td>
                    <td>{{ prospect.email }}</td>
                    <td>{{ prospect.phone }}</td>
                    <td>{{ prospect.jpo }}</td>
                    <td> {{ prospect.target.label }}</td>
                    <td class="center td_actions">
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}